@font-face{
    font-family:kalinga;
    src:url(../fonts/kalinga.ttf)
}
@font-face{
    font-family:kalingab;
    src:url(../fonts/kalingab.ttf)
}
@font-face{
    font-family:appleberry;
    src:url(../fonts/appleberry.eot?) format("eot"),url(../fonts/appleberry.woff) format("woff"),url(../fonts/appleberry.ttf) format("truetype"),url(../fonts/appleberry.svg#appleberry) format("svg");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:Kollektif;
    src:url(../fonts/Kollektif-BoldItalic.eot);
    src:url(../fonts/Kollektif-BoldItalic.eot?#iefix) format('embedded-opentype'),url(../fonts/Kollektif-BoldItalic.woff) format('woff'),url(../fonts/Kollektif-BoldItalic.ttf) format('truetype');
    font-weight:700;
    font-style:italic
}
@font-face{
    font-family:Kollektif;
    src:url(../fonts/Kollektif-Italic.eot);
    src:url(../fonts/Kollektif-Italic.eot?#iefix) format('embedded-opentype'),url(../fonts/Kollektif-Italic.woff) format('woff'),url(../fonts/Kollektif-Italic.ttf) format('truetype');
    font-weight:400;
    font-style:italic
}
@font-face{
    font-family:Kollektif;
    src:url(../fonts/Kollektif-Bold.eot);
    src:url(../fonts/Kollektif-Bold.eot?#iefix) format('embedded-opentype'),url(../fonts/Kollektif-Bold.woff) format('woff'),url(../fonts/Kollektif-Bold.ttf) format('truetype');
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:Kollektif;
    src:url(../fonts/Kollektif.eot);
    src:url(../fonts/Kollektif.eot?#iefix) format('embedded-opentype'),url(../fonts/Kollektif.woff) format('woff'),url(../fonts/Kollektif.ttf) format('truetype');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:Nexa;
    src:url(../fonts/NexaLight.eot);
    src:url(../fonts/NexaLight.eot?#iefix) format('embedded-opentype'),url(../fonts/NexaLight.woff) format('woff'),url(../fonts/NexaLight.ttf) format('truetype');
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:Nexa;
    src:url(../fonts/NexaBold.eot);
    src:url(../fonts/NexaBold.eot?#iefix) format('embedded-opentype'),url(../fonts/NexaBold.woff) format('woff'),url(../fonts/NexaBold.ttf) format('truetype');
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:Bitter;
    src:url(../fonts/Bitter-BoldItalic.woff2) format('woff2'),url(../fonts/Bitter-BoldItalic.woff) format('woff');
    font-weight:700;
    font-style:italic
}
@font-face{
    font-family:mypluto;
    src:url(../fonts/5f45eadb308d490d6cd01b15858b5faf.woff2) format('woff2'),url(../fonts/5f45eadb308d490d6cd01b15858b5faf.woff) format('woff');
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:mypluto;
    src:url(../fonts/b7d2f29baca08e2ba1c237192ab5c18c.woff2) format('woff2'),url(../fonts/b7d2f29baca08e2ba1c237192ab5c18c.woff) format('woff');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:Bitter;
    src:url(../fonts/Bitter-Italic.woff2) format('woff2'),url(../fonts/Bitter-Italic.woff) format('woff');
    font-weight:400;
    font-style:italic
}
@font-face{
    font-family:Bitter;
    src:url(../fonts/Bitter-Regular.woff2) format('woff2'),url(../fonts/Bitter-Regular.woff) format('woff');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:mypluto;
    src: url(../fonts/959954a20c805ff9597d2f8391d12438.woff2) format('woff2'),url(../fonts/959954a20c805ff9597d2f8391d12438.woff) format('woff');
    font-weight:900;
    font-style:normal
}
@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNova-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
